@charset "GB2312"

*{
	margin: 0;
	padding: 0;
	font-size: 12px; 
}

body{
	background-color:#f5f5f5; 
}

.main{
	background-color:white;
	width:700px;
	height:400px;
	margin:0 auto;
}

.contentleft{
	background-color:#f0f8ff;
	width:340px;
	height:90px;
	float:left;
	border:1px;
	margin:5px;
}

.contentright{
	background-color:#f0f8ff;
	width:340px;
	height:90px;
	float:left;
	border:1px;
	margin:5px;
}

.images{
	margin:15px;
	float:left;
}

.main a{
	text-decoration:none;
	position: relative;
	top: 10px;
}

.main a:link, .main a:visited{
	color: #00f;
	text-decoration: none;
}

.main a:hover, .main a:active{
	color: #900;
	text-decoration: none;
}

.service1main{
	border:1px;
	width:600px;
	height:400px;
	background-color:white;
}

.service1maintop{
	border:1px;
	widows:600px;
	height:40px;
	background-color:#09C;
}

.service1mainbottom{
	border:1px;
	widows:600px;
	height:360px;
	background-color:white;
	overflow:auto;
}

.service1maintop p{
	position:relative;
	left:20px;
	top:12px;
}

.service1maintopimg{
	width:40px;
	height:40px;
	float:left;
}

.service1mainbottomtitle{
	font-weight:bold;
	font-size:20px;
	color:#F30;
	position:relative;
	top:10px;
}

.service1mainbottomcontent{
	font-size:16px;
	font-family:ו;
	position:relative;
	top:20px;
	padding-left:20px;
	padding-right:20px;
	line-height:33px;
}

.service1mainbottomcontent p{
	text-indent:2em;
	padding:0px; 
	margin:0px; 
}

.service2last{
	border:1px;
	float:right;
	padding-top:20px;
	padding-bottom:10px;
}

.service2last p{
	float:right;
}

.menuDiv{
		border:1px;
		width:150px;
		height:450px;
		background-color:white;
}
	